* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

/* Agregada para fondo de sección de integrantes */
.bg-fechas {
  background-color: #eafaf1;
}
