nav {
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  /* Espaciado entre logo y enlaces */
}

.mi-logo {
  display: flex;
  justify-content: center;
  /* Centra el ícono dentro del contenedor */
  flex-grow: 2;
}

.mi-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.mi-logo span {
  font-family: 'Pacifico', cursive;
  /* Fuente orgánica */
  color: rgb(28, 83, 2);
  font-size: 2rem;
  white-space: nowrap;
  /* No permitir que divida “Alma” y “Verde” */
  margin-left: 0.5rem;
  /* Pequeño espacio desde el icono */
  align-items: center;
  display: inline-flex;
}

/* Oculta el span (texto) cuando el ancho de pantalla es menor a 530px */
@media screen and (max-width: 320px) {
  .alma-verde-icon {
    display: none;
  }
}

.alma-verde-icon {
  width: 5rem;
  padding: auto;
}



.mi-nav-bar {
  display: flex;
}

.mi-nav-bar a {
  display: flex !important;
  color: rgb(0, 0, 0);
  /* Color negro para los links */
  padding: 10px;
  font-size: 1.9rem;
  /* Tamaño grande de letra */
}

.navbar-collapse {
  justify-content: space-evenly !important;
  /* Espaciado uniforme entre los elementos del navbar */
}

.mi-nav-bar a:hover,
#uade-icon:hover {
  transform: scale(1.1);
  /* Agranda los elementos al pasar el mouse */
}


/* Reestructuración del navbar para pantallas chicas (modo móvil) */
@media screen and (max-width: 1199px) {
  .mi-logo {
    flex-grow: 10;
  }

  .mi-nav-bar {
    width: 100% !important;
    flex-direction: column !important;
    /* Enlaces uno abajo del otro */
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }

  .mi-hamburguesa {
    flex-grow: 1;
  }
}

/* Estilo al pasar el mouse sobre el botón hamburguesa */
.navbar-toggler:hover {
  background-color: #ffffff;
}